body {
  background-color: lightblue;
	background-image: url('https://media1.tenor.com/images/d90d7ed248aefeae4148c4cfe616ba84/tenor.gif?itemid=11920868');
	background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
  font-family: verdana;
  font-size: 20px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255, 0, 0, 0.6);;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(255, 0, 0, 0.9);;
